.advantages {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 0 auto;
    padding: 0;
    width: 786px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 8px;
    width: 1200px;
  }
}

.advantages__items {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.advantages__list {
  background-color: rgb(238, 238, 238);
  padding: 0;
  padding-top: 34px;
  list-style: none;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 54px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 332px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 332px;
  }
}

.advantages__item-list--town {
  background-color: $accent;
  width: 320px;
  padding: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--town {
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--town {
    width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__list--town {
    width: 768px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 329px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list--town {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    height: 330px;
    padding: 0;
  }
}

.advantages__title {
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 51px;

  @media (min-width: $tablet-width) {
    font-family: $title;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
  }
}

.advantages__title--town {
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 51px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__title--town {
    padding: 40px 31px 0;
    padding-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title--town {
    text-align: center;
    padding: 4px 62px 12px;
  }
}

.advantages__title--housing {
  padding: 0 10px 0 0;
  margin: 0;
  padding-bottom: 11px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__title--housing {
    text-align: center;
    padding-bottom: 23px;
  }
}

.advantages__title--food {
  padding: 0 10px;
  margin: 0;
  padding-bottom: 11px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__title--food {
    text-align: center;
    padding-bottom: 23px;
  }
}

.advantages__description {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0 18px;
  margin: 0;
  padding-bottom: 40px;
}

.advantages__description--food {
  text-align: left;
  padding: 4px 7px;
  padding-bottom: 30px;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--food {
    text-align: center;
    padding: 4px 18px;
    padding-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--food {
    padding: 2px 0 23px 4px;

    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__title--food {
    text-align: center;
  }
}

.advantages__title--gift {
  text-align: left;
  padding: 0;
  padding-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .advantages__title--gift {
    text-align: center;
  }
}

.advantages__title--bridge {
  padding-top: 44px;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title--bridge {
    padding: 6px 23px 12px 23px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }
  }
}

.advantages__description--bridge {
  border-bottom: 1px solid rgba(214, 214, 214, 1);
  padding-bottom: 24px;
}

.advantages__description--grand {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .advantages__description--bridge {
    padding: 4px 5px;
    border-bottom: none;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--bridge {
    border-bottom: none;
  }
}

.advantages__description--road {
  @media (min-width: $tablet-width) {
    padding: 4px 23px;
  }
}

.advantages__description--blue {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advantages__description__number {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
}

.advantages__description__number--town {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .advantages__description__number--town {
    padding-bottom: 24px;
  }
}

.advantages__description--bridge-devil {
  padding-bottom: 54px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .advantages__description--bridge-devil {
    padding: 6px 34px 41px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--bridge-devil {
    padding: 8px 10px 41px;
  }
}

.advantages__title--bridge-devil {
  padding: 36px 28px 10px;
  margin: 0;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .advantages__title--bridge-devil {
    padding: 40px 53px 0;
    padding-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title--bridge-devil {
    padding: 0 43px;
    padding-bottom: 11px;
  }
}

.advantages__description__number--bridge-devil {
  color: #ffffff;
}

.advantages__description--town {
  color: #ffffff;
  padding: 0 7px 0;
  margin: 0;
  padding-bottom: 40px;
}

.advantages__item {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 189px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 400px;
    margin: 0 auto;
  }
}

.advantages__item-list--bridge {
  box-sizing: border-box;
  margin-bottom: -23px;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--bridge {
    width: 189px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--bridge {
    height: 256px;
  }
}

.advantages__item-list--bridge:nth-child(1) {
  @media (min-width: $desktop-width) {
    padding: 36px 51px 14px 55px;
    box-sizing: border-box;
    width: 400px;
  }
}

.advantages__item-list--bridge:nth-child(2) {
  @media (min-width: $desktop-width) {
    padding: 35px 45px 14px 44px;
    box-sizing: border-box;
    width: 400px;
  }
}

.advantages__item-list:nth-child(3) {
  @media (min-width: $desktop-width) {
    padding: 35px 45px 14px 44px;
    box-sizing: border-box;
    width: 400px;
  }
}

.advantages__description__number--bridge {
  padding-bottom: 20px;
}

.advantages__item--housing,
.advantages__item--food {
  color: #000000;
  width: 256px;
  margin: 0;
  padding-left: 63px;

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 158px 23px 83px 25px;
    box-sizing: border-box;
  }
}

.advantages__item--gift {
  color: #000000;
  width: 256px;
  margin: 0;
  padding-left: 63px;

  @media (min-width: $tablet-width) {
    padding: 158px 17px 70px 23px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__item--food {
  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 157px 32px 63px 33px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 158px 56px 83px 57px;
    box-sizing: border-box;
  }
}

.advantages__item--housing {
  @media (min-width: $tablet-width) {
    width: 256px;
    height: 330px;
    padding: 158px 20px 62px 22px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--housing {
    width: 400px;
    padding: 160px 22px 83px 21px;
    height: 330px;
    box-sizing: border-box;
  }
}

.advantages__description--housing {
  text-align: left;
  padding: 0 46px 35px 2px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    text-align: center;

    @media (min-width: $desktop-width) {
      padding: 0 28px 0 35px;

      br {
        display: none;
      }
    }
  }
}

.advantages__description--gift {
  padding: 0;
  padding-right: 58px;
  text-align: left;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--gift {
    padding: 8px 12px;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--gift {
    padding: 10px 68px;
    text-align: center;

    br {
      display: block;
    }
  }
}

//ЦВЕТНЫЕ ИКОНКИ ДЛЯ ПРЕИМУЩЕСТВ
.advantages__item--housing::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/house.svg");
  width: 50px;
  height: 78px;
  left: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  top: 6px;
}

.advantages__item--food::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/burger.svg");
  width: 50px;
  height: 78px;
  left: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  bottom: 199px;
}

.advantages__item--gift::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/present.svg");
  width: 50px;
  height: 78px;
  left: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  bottom: 100px;
}

.advantages__real__town {
  display: flex;
  margin: 0 auto;
}

.sedona-bridge {
  margin: -20px auto;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.picture {
  margin: 0;
  width: 320px;
  height: 100%;
  object-fit: cover;
  margin-bottom: -4px;
}

@media (min-width: $tablet-width) {
  .picture {
    width: 512px;
    height: 256px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .picture {
    width: 800px;
    height: 256px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    display: flex;
    width: 1200px;
  }
}

.advantages__wrapper__bridge {
  background-color: #eeeeee;
  list-style: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper__bridge {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 34px 33px 25px 33px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 7px;
    height: 254px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper__bridge {
    display: flex;
    width: 1200px;
    padding: 0;
    height: 256px;
  }
}

.advantages__item-list--bridge-devil {
  background-color: $accent;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--bridge-devil {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--bridge-devil {
    width: 1200px;
  }
}
