.advantages {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 0 auto;
    padding: 0;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1200px;
  }
}

.advantages__items {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__items {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__items {
    width: 1200px;
  }
}

.advantages__list {
  background-color: #ffffff;
  padding: 29px 19px 46px 23px;
  padding-top: 29px;
  list-style: none;
  width: 320px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    width: 768px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }
}

.advantages__item-list--town {
  background-color: $accent;
  width: 320px;
  padding: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--town {
    width: 768px;
    box-sizing: border-box;
    padding: 0;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--town {
    width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__list--town {
    width: 768px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 329px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list--town {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    height: 330px;
    padding: 0;
  }
}

.advantages__title {
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-family: $title;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
  }
}

.advantages__title--town {
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__title--town {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title--town {
    text-align: center;
    padding-bottom: 13px;
  }
}

.advantages__title--housing {
  margin: 0;
  padding-bottom: 18px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__title--housing {
    text-align: center;
    padding: 0;
    padding-bottom: 21px;
  }
}

.advantages__title--food {
  margin: 0;
  padding-bottom: 17px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__title--food {
    text-align: center;
    padding-bottom: 23px;
  }
}

.advantages__description {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__description--food {
  text-align: left;
  padding-bottom: 30px;
  display: block;

  br {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--food {
    text-align: center;
    padding: 0;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--food {
    padding: 0;

    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__title--food {
    text-align: center;
    padding: 0;
    padding-bottom: 22px;
  }
}

.advantages__title--gift {
  text-align: left;
  padding: 0;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .advantages__title--gift {
    padding: 0 0 22px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title--bridge {
    padding: 0;
    padding-bottom: 12px;

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-bottom: 14px;
    }
  }
}

.advantages__description--bridge {
  //border-bottom: 1px solid rgba(214, 214, 214, 1);

  br {
    display: none;
  }
}

.advantages__description--bridge:nth-child(4) {
  border-bottom: none;
}

.advantages__description--grand {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .advantages__description--bridge {
    padding: 0;
    border-bottom: none;

    @media (min-width: $desktop-width) {
      border-bottom: none;
    }
  }
}

.advantages__description--blue {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advantages__description__number {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 13px;
}

.advantages__description__number--town {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .advantages__description__number--town {
    padding-bottom: 24px;
  }
}

.advantages__description--bridge-devil {
  color: #ffffff;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__description--bridge-devil {
    padding: 0;
    padding-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--bridge-devil {
    padding: 0;
  }
}

.advantages__title--bridge-devil {
  padding: 0;
  margin: 0;
  color: #ffffff;
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .advantages__title--bridge-devil {
    padding-bottom: 11px;

    @media (min-width: $desktop-width) {
      padding-bottom: 14px;
    }
  }
}

.advantages__description__number--bridge-devil {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .advantages__description__number--bridge-devil {
    padding-bottom: 23px;
  }
}

.advantages__description--town {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.advantages__item {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 189px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 400px;
    margin: 0 auto;
  }
}

.advantages__item-list--bridge {
  box-sizing: border-box;
  margin-bottom: -25px;
  position: relative;
  background-color: #eeeeee;
  padding: 27px 32px 48px;
  display: block;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--bridge {
    width: 256px;
    box-sizing: border-box;
    margin-bottom: -23px;
    position: relative;
    padding: 39px 38px 47px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--bridge {
    width: 400px;
  }
}

.advantages__item-list--bridge:nth-child(1) {
  @media (min-width: $desktop-width) {
    padding: 39px 38px 51px 44px;
    box-sizing: border-box;
    width: 400px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item-list--bridge-1 {
    padding: 51px 38px 47px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--bridge-1 {
    padding: 62px 38px 43px 43px;
    box-sizing: border-box;
  }
}

.advantages__item-list--bridge-1::after {
  position: absolute;
  content: "";
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 23px;
  left: 16px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--bridge-1::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--bridge-1::after {
    display: none;
  }
}

.advantages__description__number--bridge {
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .advantages__description__number--bridge {
    padding-bottom: 22px;
  }
}

.advantages__item--food {
  color: #000000;
  margin: 0;
  padding-left: 43px;
  box-sizing: border-box;
  padding-top: 9px;
}

@media (min-width: $tablet-width) {
  .advantages__item--food {
    width: 256px;
    padding: 155px 53px 63px 51px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--food {
    width: 400px;
    padding: 166px 52px 75px 53px;
    box-sizing: border-box;
  }
}

.advantages__item--gift {
  color: #000000;
  margin: 0;
  padding-left: 42px;
  box-sizing: border-box;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    padding: 152px 27px 63px 33px;
    box-sizing: border-box;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 170px 28px 34px 37px;
  }
}

.advantages__item--housing {
  color: #000000;
  margin: 0;
  padding-left: 42px;
  box-sizing: border-box;
  padding-top: 3px;
  display: block;
}

@media (min-width: $tablet-width) {
  .advantages__item--housing {
    width: 256px;
    padding: 158px 32px 63px 35px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--housing {
    width: 400px;
    padding: 170px 48px 34px;
    box-sizing: border-box;
  }
}

.advantages__description--housing {
  text-align: left;
  padding: 0;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: center;

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.advantages__description--gift {
  padding: 0;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__description--gift {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--gift {
    padding: 0;
    text-align: center;
  }
}

//ЦВЕТНЫЕ ИКОНКИ ДЛЯ ПРЕИМУЩЕСТВ
.advantages__item--housing::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/house.svg");
  width: 50px;
  height: 78px;
  left: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  top: 8px;
}

.advantages__item--food::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/burger.svg");
  width: 50px;
  height: 78px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  bottom: 197px;
  left: 13px;
}

.advantages__item--gift::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/present.svg");
  width: 50px;
  height: 78px;
  left: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  bottom: 81px;
}

//ЦВЕТНЫЕ ИКОНКИ ДЛЯ ПРЕИМУЩЕСТВ TABLET
@media (min-width: $tablet-width) {
  .advantages__item--housing::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 77px;
    margin: -30px -8px;
    left: 91px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82px;
    top: 85px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--food::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 77px;
    margin: -30px -8px;
    left: 347px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81px;
    top: 85px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--gift::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 77px;
    margin: -30px -8px;
    left: 606px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81px;
    top: 91px;
  }
}

//ЦВЕТНЫЕ ИКОНКИ ДЛЯ ПРЕИМУЩЕСТВ DESKTOP
@media (min-width: $desktop-width) {
  .advantages__item--housing::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 77px;
    margin: -30px -8px;
    left: 163px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81px;
    top: 96px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--food::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 77px;
    margin: -30px -8px;
    left: 562px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81px;
    top: 97px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--gift::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 77px;
    margin: -30px -8px;
    left: 962px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81px;
    top: 97px;
  }
}

.advantages__real__town {
  display: flex;
  margin: 0 auto;
}

.sedona-bridge {
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 0 -2px;
  display: block;
}

@media (min-width: $tablet-width) {
  .picture {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

@media (min-width: $desktop-width) {
  .picture {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    display: flex;
    width: 1200px;
  }
}

.advantages__wrapper__bridge {
  background-color: #eeeeee;
  list-style: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper__bridge {
    display: flex;
    justify-content: space-between;
    width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 33px 20px 7px;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper__bridge {
    display: flex;
    width: 1200px;
    padding: 0;
  }
}

.advantages__description--with-border::after {
  border-bottom: 1px solid rgba(214, 214, 214, 1);
  position: absolute;
  content: "";
  width: 284px;
  height: 1px;
  top: 186px;
  left: 18px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.advantages__item-list--bridge-devil {
  background-color: $accent;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--bridge-devil {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--bridge-devil {
    width: 1200px;
  }
}

.advantages__item-list--tourists {
  padding-bottom: 28px;
}

@media (min-width: 768px) {
  .advantages__item-list--road {
    padding: 41px 48px 45px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--road {
    padding: 51px 68px 19px 70px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item-list--tourists {
    padding: 51px 33px 41px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--tourists {
    padding: 63px 52px 41px;
    box-sizing: border-box;
  }
}

.advantages__item-list--tourists::after {
  position: absolute;
  content: "";
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 167px;
  left: 16px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .advantages__item-list--tourists::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-list--tourists::after {
    display: none;
  }
}

.advantages__hyphenation {
  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.advantages__description-hyphenation {
  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.advantages__title--bridge-devil-hyphenation {
  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.advantages__title--bridge-hyphenation {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__title--road-hyphenation {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__title--tourists-hyphenation {
  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.advantages__description--road-hyphenation {
  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
