.blue-background {
  color: #ffffff;
  width: 320px;
  //height: 211px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 51px 20px 40px;
}

@media (min-width: $tablet-width) {
  .blue-background {
    width: 256px;
    //height: 256px;
    padding: 39px 20px 47px;
  }
}

@media (min-width: $desktop-width) {
  .blue-background {
    width: 400px;
    height: 256px;
    padding: 49px 64px 56px 65px;
  }
}

.blue-background--sedona-bridge {
  padding: 39px 31px 33px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .blue-background--sedona-bridge {
    order: 2;
    padding: 40px 46px 28px 52px;
  }
}

@media (min-width: $desktop-width) {
  .blue-background--sedona-bridge {
    padding: 50px 84px 49px;

    br {
      display: none;
    }
  }
}
