.checkboxes__title {
  margin: 0;
  padding: 0 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .checkboxes__title {
    width: 308px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .checkboxes__title {
    width: 308px;
    margin: 0 auto;
    padding-bottom: 53px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-right: 53px;
  }
}

.checkboxes__group {
  border: none;
  padding: 0;
  margin: 0 auto;
}

.checkboxes__list {
  list-style: none;
  width: 320px;
  margin: 0;
  padding: 17px 18px 10px 40px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .checkboxes__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 480px;
    margin: 0 auto;
    padding: 17px 14px 10px 21px;
    box-sizing: border-box;
  }
}

.checkboxes__wrapper {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .checkboxes__wrapper {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .checkboxes__wrapper {
    width: 871px;
    height: 134px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .checkboxes__item {
    width: 190px;
  }
}

.checkboxes__item {
  padding-bottom: 36px;
}

@media (min-width: $desktop-width) {
  .checkboxes__item--rocks {
    margin-left: -17px;
  }
}

.checkboxes-border::after {
  position: absolute;
  top: -86px;
  left: -1px;
  height: 1px;
  width: 320px;
  background-color: #dbdbdb;
  content: "";
}

@media (min-width: $tablet-width) {
  .checkboxes-border::after {
    position: absolute;
    top: -42px;
    left: 60px;
    height: 1px;
    width: 123px;
    background-color: #dbdbdb;
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .checkboxes-border::after {
    position: absolute;
    top: -41px;
    left: 120px;
    height: 1px;
    width: 281px;
    background-color: #dbdbdb;
    content: "";
  }
}

@media (min-width: $tablet-width) {
  .checkboxes-border::before {
    position: absolute;
    top: -42px;
    left: 585px;
    height: 1px;
    width: 123px;
    background-color: #dbdbdb;
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .checkboxes-border::before {
    position: absolute;
    top: -41px;
    left: 800px;
    height: 1px;
    width: 281px;
    background-color: #dbdbdb;
    content: "";
  }
}

/* для элемента input c type="checkbox" */
.custom-checkboxes {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-checkboxes */
.custom-checkboxes + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-checkboxes + label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 12%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35% 35%;
  background-color: rgb(242, 242, 242);
}

/* стили при наведении курсора на чекбокс */
.custom-checkboxes:not(:disabled) + label:hover::before {
  background-color: rgb(229, 229, 229);
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkboxes:not(:disabled):active + label::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 16px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  position: absolute;
  left: 12px;
}

/*стили для активного чекбокса (при нажатии на него) */
.custom-checkboxes:not(:disabled):active + label::before {
  background-color: rgb(213, 213, 213);
}

/* стили для чекбокса, находящейгося в фокусе */
.custom-checkboxes:focus + label::before {
  outline: 2px solid #939393;
}

/* стили для чекбокса, находящейся в фокусе и не находящейся в состоянии checked */
.custom-checkboxes:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

/* стили для чекбокса , находящейся в состоянии checked */
.custom-checkboxes:checked + label::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 16px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  //opacity: 0.3;
  position: absolute;
  left: 12px;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-checkboxes:disabled + label::before {
  background-color: #939393;
}
