.contacts-form .field {
  padding-left: 16px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  order: 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .contacts-form .field {
    padding-left: 16px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgb(0 0 0);
    order: 0;
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      padding-left: 16px;
      font-family: "PT Sans Narrow", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: rgb(0 0 0);
      order: 0;
      box-sizing: border-box;
      width: 405px;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-form {
    margin-left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-form {
    margin-left: 0;
  }
}
