.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 24px 20px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 26px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin: 0 auto;
    padding: 0 2px 16px 9px;
    box-sizing: border-box;
    position: relative;
    border-bottom: none;
    border-top: none;

    @media (min-width: $desktop-width) {
      width: 402px;
      margin: 0;
      padding: 0 2px 1px 0;
      box-sizing: border-box;
      position: relative;
      border-bottom: none;
      margin-left: 5px;
    }
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;

    @media (min-width: $desktop-width) {
      margin-left: -62px;
    }
  }
}

.contacts__phone,
.contacts__e-mail {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 18px;
  }
}

.button-phone {
  background-color: #e6ebeb;
  width: 55px;
  height: 55px;
  border: none;
  position: absolute;
  top: 94px;
  right: 21px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-color: #e6ebeb;
    width: 55px;
    height: 55px;
    border: none;
    position: absolute;
    top: 74px;
    right: 2px;
    cursor: pointer;

    @media (min-width: $desktop-width) {
      background-color: #e6ebeb;
      width: 55px;
      height: 55px;
      border: none;
      position: absolute;
      top: 74px;
      right: -2px;
      cursor: pointer;
    }
  }
}

.phone {
  padding: 0 19px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.button-letter {
  background-color: #e6ebeb;
  width: 55px;
  height: 55px;
  border: none;
  position: absolute;
  top: 188px;
  right: 21px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-color: #e6ebeb;
    width: 55px;
    height: 55px;
    border: none;
    position: absolute;
    top: 168px;
    right: 2px;
    cursor: pointer;

    @media (min-width: $desktop-width) {
      background-color: #e6ebeb;
      width: 55px;
      height: 55px;
      border: none;
      position: absolute;
      top: 171px;
      right: -2px;
      cursor: pointer;
    }
  }
}

.letter {
  padding: 0 19px;
  background-image: url("../img/letter.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  z-index: 3;
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 402px;
  }
}

@media (min-width: $desktop-width) {
  .vertical-line {
    width: 12px;
    content: "";
    position: absolute;
    border-left: 1px solid rgb(229, 229, 229);
    top: 0%;
    right: 151px;
    left: -63px;
    height: 340px;
    box-sizing: border-box;
  }
}
