.description__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.description__subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .description__subtitle {
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .description__subtitle {
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .description__title--form {
    margin: 0;
    padding: 0;
    font-family: $title;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .description__title--form {
    margin: 0;
    padding: 0;
    font-family: $title;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 51px;
  }
}

@media (min-width: $tablet-width) {
  .description__subtitle--form {
    width: 484px;
    margin: 0 auto;
    padding: 0 24px 35px 24px;
    box-sizing: border-box;
    border: none;
  }
}
