.description__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.description__subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;
}


@media (min-width: $tablet-width) {
  .description__subtitle {
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .description__subtitle {
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }
}
