.field {
  background-color: #f2f2f2;
  border: none;
  width: 280px;
  height: auto;
  // margin-bottom: 14px;
  cursor: pointer;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .field {
    padding-left: 13px;
    //margin-bottom: 16px;
    margin-bottom: 17px;

    @media (min-width: $desktop-width) {
      background-color: #f2f2f2;
      border: none;
      width: 431px;
      height: 58px;
      margin-bottom: 16px;
      text-indent: 0;
    }
  }
}

.field:hover {
  background-color: rgb(229, 229, 229);
  outline: 0;
  outline-offset: 0;
}

.field:active {
  background-color: rgb(255, 255, 255);
  appearance: none;
  outline: 4px solid rgb(229, 229, 229);
  outline-offset: -4px;
}

.field:focus {
  background-color: rgb(255, 255, 255);
  appearance: none;
  outline: 4px solid rgb(229, 229, 229);
  outline-offset: -4px;
}

.field-email {
  background-image: url("../img/letter.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 16px;
  padding-right: 73px;
}

@media (min-width: $tablet-width) {
  .field-email {
    margin-left: 0;
    padding: 16px;
    padding-right: 73px;
  }
}

@media (min-width: $desktop-width) {
  .field-email {
    margin-left: 0;
    padding-right: 73px;
  }
}

.field-phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 73px;
  margin-bottom: -1px;
}

@media (min-width: $tablet-width) {
  .field-phone {
    margin-left: 0;
    //margin-bottom: 12px;
    padding: 16px;
    padding-right: 73px;
    margin-bottom: -2px;
  }
}

@media (min-width: $desktop-width) {
  .field-phone {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .textarea-form .field-phone {
    background-color: #f2f2f2;
    border: none;
    width: 404px;
    height: 58px;
    margin-bottom: 1px;
    padding: 16px;
    padding-right: 73px;
  }
}

@media (min-width: $desktop-width) {
  .textarea-form .field-email {
    background-color: #f2f2f2;
    border: none;
    width: 404px;
    height: 58px;
    margin-bottom: 16px;
    padding: 16px;
    padding-right: 73px;
  }
}

.textarea-form .field-phone:hover,
.textarea-form .field-email:hover {
  background-color: rgb(229, 229, 229);
  outline: 0;
  outline-offset: 0;
}

.textarea-form .field-phone:active,
.textarea-form .field-email:active {
  background-color: rgb(255, 255, 255);
  appearance: none;
  outline: 4px solid rgb(229, 229, 229);
  outline-offset: -4px;
}

.textarea-form .field-phone:focus,
.textarea-form .field-email:focus {
  background-color: rgb(255, 255, 255);
  appearance: none;
  outline: 4px solid rgb(229, 229, 229);
  outline-offset: -4px;
}
