.form-contacts {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form-contacts {
    display: flex;
    justify-content: space-between;
    width: 648px;
    height: auto;
    margin-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: auto;
    padding: 34px 2px 33px 0;
    box-sizing: border-box;
    margin-bottom: 0;
  }
}
