.form-contacts {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form-contacts {
    display: flex;
    justify-content: space-between;
    width: 648px;
    height: 338px;
    padding-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: 338px;
    padding: 67px 2px 55px 0;
    box-sizing: border-box;
    margin-bottom: 108px;
  }
}
