.index-container-wrapper {
  width: 320px;
  box-sizing: border-box;

  &::after {
    display: block;
    content: "";
    background-image: url("../img/intro-triangle-top-decorative-part.svg");
    width: 320px;
    height: 57px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .index-container-wrapper {
    width: 768px;
    position: relative;

    &::after {
      position: absolute;
      content: " ";
      background-image: url("../img/intro-triangle.svg");
      width: 768px;
      height: 57px;
      margin: 0;
      top: 473px;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .index-container-wrapper {
    width: 1200px;

    &::after {
      position: absolute;
      content: " ";
      background-image: url("../img/intro-triangle-desktop.svg");
      width: 1200px;
      height: 57px;
      margin: 0;
      top: 475px;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
}

.background-container {
  background-image: url("../img/index-background.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  width: 320px;
  margin: 15px auto;
  background-size: 100%;
}

@media (min-width: $tablet-width) {
  .background-container {
    background-image: url("../img/index-tablet-background.jpg");
    width: 768px;
    margin: 42px auto;
    height: 529px;
    background-position: bottom;
    margin-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .background-container {
    background-image: url("../img/index-tablet-background.jpg");
    width: 1200px;
    margin: 42px auto;
    height: 532px;
    background-size: cover;
    background-position-y: 10px;
    margin-bottom: -32px;
  }
}
