.intro {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 19px 25px 17px;
  margin-bottom: 0;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url("../img/intro-triangle-bottom-decorative-part.svg");
    width: 320px;
    height: 37px;
    background-repeat: no-repeat;
    z-index: 1;
    left: 0;
    background-position: center;
    top: 190px;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    width: 484px;
    margin-bottom: 22px;
    padding: 39px 0 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: 484px;
    margin: 0 auto;
    margin-top: 51px;
  }
}

.intro__header {
  margin: 0 auto;
}

.intro__header--form {
  margin: 0;
  padding: 0;
}

.intro__slogan {
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .intro__slogan {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 29px;
  }
}

.intro__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .intro__description {
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro__description {
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .intro__description {
    width: 484px;
  }
}

@media (min-width: $desktop-width) {
  .intro__desription {
    width: 484px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .intro__description {
    width: 484px;
    box-sizing: border-box;
    padding: 5px 18px 10px 40px;
    margin-left: -51px;

    @media (min-width: $desktop-width) {
      padding: 0 32px 10px 6px;
      margin: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .intro__description--index {
    width: 520px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 0 33px;
    margin-left: -15px;

    @media (min-width: $desktop-width) {
      width: 520px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0 0 42px;
      margin-left: -19px;
    }
  }
}

.intro__title--form {
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.intro--form::after {
  display: none;
}

@media (min-width: $tablet-width) {
  .intro__description--form {
    width: 484px;
    box-sizing: border-box;
    padding: 0 21px;
    margin: 0;
  }
}
