.main-footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 1200px;
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  height: 243px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 0 60px 20px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 20px 112px 20px 125px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

.main-footer__wrapper--index {
  padding-top: 29px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper--index {
    padding: 22px 60px 20px 61px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 23px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper--index {
    padding: 21px 112px 20px 121px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

.main-footer__wrapper--catalog {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  height: 243px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper--catalog {
    padding: 33px 50px 9px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper--catalog {
    padding: 16px 112px 41px 122px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

.main-footer__hashtag {
  font-family: $title;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 93px;
  margin: 0 auto;
  padding-bottom: 12px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    padding-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__title {
    padding-top: 26px;
  }
}

.main-footer__info-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 91px 0 98px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 145px;
    padding: 1px 0 0 39px;
  }
}

.main-footer__social {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 4px;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .main-footer__info {
    width: 131px;
    padding-left: 11px;
  }
}

.icon-html-academy {
  margin-left: 8px;
}

.main-footer__link:hover {
  color: rgb(129, 179, 210);
}

.main-footer__link:active {
  color: rgb(179, 179, 179);
}

.main-footer__info--catalog {
  padding-top: 1px;
}

@media (min-width: $desktop-width) {
  .main-footer__info--catalog {
    padding-top: 17px;
  }
}
