.intro .main-container--catalog {
  ::after {
    display: none;
  }
}

.main-container--catalog {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  ::after {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-container--catalog {
    width: 768px;
    box-sizing: border-box;
    padding: 0 8px;
  }
}

@media (min-width: $desktop-width) {
  .main-container--catalog {
    width: 1200px;
    box-sizing: border-box;
    padding: 0;
  }
}

.main-container__photo-video {
  padding: 37px 20px 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .main-container__photo-video {
    box-sizing: border-box;
    padding: 37px 134px 14px 136px;
    border-bottom: none;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-container__photo-video {
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding: 33px 357px 65px;
  }
}

.main-container__header {
  margin: 0 auto;
}

.main-container__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .main-container__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
  }
}

.main-container__title--catalog {
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .main-container__title--catalog {
    padding: 0;
    padding-bottom: 28px;

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-bottom: 31px;
    }
  }
}

.main-container__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 35px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-container__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 484px;
    box-sizing: border-box;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-container__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 32px 10px 6px;
    margin: 0;
  }
}

.main-container__description--catalog {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;

  ::after {
    display: none;
  }
}

.main-container__description-hyphenation {
  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
