.main-nav {
  background-color: $accent;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: auto;
  margin: -54px auto;
  min-height: 55px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    margin: -97px auto;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

//фон кнопки
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 51px;
  background-color: $accent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $accent;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  top: -39px;
  right: -170px;
  z-index: 11;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 24px;
  height: 4px;
  background-color: $accent;
  box-shadow: 0 8px 0 0 $accent, 0 16px 0 0 $accent;
}

.main-nav--closed:hover .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 24px;
  height: 4px;
  background-color: rgb(129, 179, 210, 0.6);
  box-shadow: 0 8px 0 0 rgb(129, 179, 210, 0.6), 0 16px 0 0 rgb(129, 179, 210, 0.6);
}

.main-nav--closed:active .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 24px;
  height: 4px;
  background-color: rgb(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgb(129, 179, 210, 0.3), 0 16px 0 0 rgb(129, 179, 210, 0.3);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $accent;
  box-shadow: 0 8px 0 0 $accent, 0 16px 0 0 $accent;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: -44px;
  left: -160px;
  z-index: 10;
  width: 320px;
}

.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  top: 216px;
  left: 0;
  bottom: 0;
  z-index: 37;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__item--active a {
  text-align: center;
}

.main-nav--nojs .user-list__item {
  display: block;
  background-color: $accent;
}

.main-nav--opened .main-nav__toggle {
  top: -40px;
  right: -160px;
  z-index: 11;
  background-color: $accent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 26px;
    width: 24px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgb(255, 255, 255, 0.3);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgb(255, 255, 255, 0.6);
    opacity: 60%;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 690px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 1040px;
  }
}

.main-nav__wrapper {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    justify-content: flex-end;
    margin: 0 auto;
    /* 720px / 768px ~= 93,7% */
    width: 94%;
    /* 960px / .94 ~= 1021px (центровка начнётся чуть раньше 1200px) */
    max-width: 1000px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    justify-content: flex-end;
    width: 1000px;
    margin: 0 auto;
  }
}

.main-nav__list .site-list__link:nth-child(2n) {
  @media (min-width: 768px) {
    padding-right: 400px;
  }
}
