.main-picture-welcome-text {
  background-position: center;
  padding: 88px 19px 26px 19px;
}

@media (min-width: $tablet-width) {
  .main-picture-welcome-text {
    height: 350px;
    width: 461px;
    padding: 88px 98px 33px 154px;
  }
}

@media (min-width: $desktop-width) {
  .main-picture-welcome-text {
    height: 350px;
    width: 461px;
    margin: 0 auto;
    background-position: center;
    padding: 92px 368px 33px 371px;
  }
}
