.main-footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 1200px;
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  height: 243px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 0 60px 20px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 20px 112px 20px 125px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

.main-footer__wrapper--index {
  padding-top: 28px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper--index {
    padding: 19px 60px 29px 61px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper--index {
    padding: 20px 129px 28px 119px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

.main-footer__wrapper--catalog {
  margin: 0 auto;
  width: 320px;
  text-align: center;
  padding: 19px 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper--catalog {
    padding: 52px 61px 116px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper--catalog {
    padding: 33px 112px 41px 122px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper--form {
    padding: 20px 112px 24px 63px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper--form {
    padding: 20px 112px 25px 119px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  width: 320px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 29px 0 0 0;
    width: 0;
    margin-right: 133px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__title {
    padding-top: 26px;
  }
}

.main-footer__info-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 91px 0 98px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 145px;
    padding: 1px 0 0 39px;
  }
}

.main-footer__social {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 4px;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .main-footer__info {
    width: 131px;
    padding-left: 11px;
  }
}

.icon-html-academy {
  margin-left: 8px;
}

.main-footer__link:hover {
  color: rgb(129, 179, 210);
}

.main-footer__link:active {
  color: rgb(179, 179, 179);
}

.main-footer__info--catalog {
  padding-top: 1px;
}

@media (min-width: $tablet-width) {
  .main-footer__info--catalog {
    padding-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__info--catalog {
    padding-top: 22px;
  }
}
