.modal--failure {
  padding: 45px 55px 28px 55px;
  box-sizing: border-box;
  width: 320px;
  height: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .modal--failure {
    padding: 45px 55px 28px 55px;
    box-sizing: border-box;
    width: 400px;
    height: 347px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .modal--failure {
    padding: 45px 55px 28px 55px;
    box-sizing: border-box;
    width: 400px;
    height: 347px;
    margin: 0 auto;
  }
}

.modal__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .modal__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 23px;
    width: 210px;
  }
}

@media (min-width: $desktop-width) {
  .modal__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    width: 210px;
  }
}

@media (min-width: $desktop-width) {
  .modal__title--failure {
    padding-bottom: 26px;
  }
}

.modal__description {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .modal__description {
    padding-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .modal__description--failure {
    padding-bottom: 47px;
  }
}

.modal__failure {
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  background-color: $accent;
  border: none;
  padding: 18px 80px 14px 80px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .modal__failure {
    padding: 18px 124px 14px 124px;
  }
}

@media (min-width: $desktop-width) {
  .modal__failure {
    padding: 18px 124px 14px 124px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    background-color: #81b3d2;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
}

.modal__failure:hover {
  background-color: #669ec0;
}

.modal__failure:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.modal__success__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .modal__success__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .modal__success__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 26px;
  }
}

.modal--success {
  margin: 0 auto;
  width: 320px;
  height: 323px;
  padding: 44px 21px 54px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .modal--success {
    margin: 0 auto;
    width: 640px;
    height: 347px;
    padding: 48px 91px 44px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .modal--success {
    margin: 0 auto;
    width: 640px;
    height: 347px;
    padding: 48px 90px 44px;
    box-sizing: border-box;
  }
}

.modal__success__description {
  margin: 0;
  padding: 0 12px;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 70px;

  br {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .modal__success__description {
    margin: 0;
    padding: 0 20px;
    font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 98px;

    @media (min-width: $desktop-width) {
      padding-bottom: 97px;
    }
  }
}

.modal__success__button {
  background-color: $accent;
  border: none;
  padding: 18px 78px 14px 72px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .modal__success__button {
    padding: 17px 154px 12px 155px;
    margin: 0 auto;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .modal__success__button {
    padding: 17px 153px 13px 158px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #81b3d2;
    border: none;
    color: #ffffff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.modal__success__button:hover {
  background-color: #669ec0;
}

.modal__success__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
