.name {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 16px;
}

.field::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
