.radiobuttons {
  padding: 4px 12px 20px 20px;
  outline-style: none;
  height: 238px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 26px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .radiobuttons {
    width: 768px;
    border-bottom: none;
    height: 198px;
    margin: 0 auto;
    padding: 15px 25px 9px;
    box-sizing: border-box;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .radiobuttons {
    width: 1200px;
    border-bottom: none;
    padding: 15px 169px 9px;
    box-sizing: border-box;
    height: 179px;
  }
}

.radiobuttons__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -10px;
}

@media (min-width: $tablet-width) {
  .radiobuttons__title {
    margin: 0;
    padding: 0;
    font-family: $title;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13px;
    padding-left: 71px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .radiobuttons__title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0;
    position: relative;
  }
}

.radiobuttons__group {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.radiobuttons__wrapper {
  width: 320px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .radiobuttons__wrapper {
    display: flex;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .radiobuttons__wrapper {
    display: flex;
    justify-content: space-between;
    width: 854px;
    margin: 0 auto;
  }
}
