.review__field-group {
  width: 320px;
  margin: 0 auto;
  padding: 4px 12px 20px 20px;
  margin-bottom: 29px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

@media (min-width: $tablet-width) {
  .review__field-group {
    width: 320px;
    margin: -42px auto;
    padding: 0 2px 0 1px;
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      width: 430px;
      margin: 0;
      padding: 0;
      border-right: none;
      border-top: none;
      margin-bottom: 0;
    }
  }
}

.review__field-group--1 {
  padding-bottom: 27px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .review__field-group--1 {
    margin-right: 4px;
    padding-right: 42px;
  }
}

@media (min-width: $desktop-width) {
  .review__field-group--1 {
    margin-right: -12px;
  }
}

@media (min-width: $tablet-width) {
  .review__field-group:nth-child(2) {
    border: none;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .review__field-group:nth-child(1) {
    padding-right: 63px;
    border-right: 1px solid #e5e5e5;
    height: 381px;
  }
}

.review__field-group--2 {
  padding-bottom: 19px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .review__field-group--2 {
    padding-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .review__field-group--2 {
    padding-left: 75px;
  }
}

.review__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 18px;
  margin-left: -5px;
}

@media (min-width: $tablet-width) {
  .form__title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 64px;
  }
}

.review__field-group--radiobuttons {
  padding: 12px 13px 0 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .review__field-group--radiobuttons {
    padding-top: 20px;
    margin-bottom: 1px;
  }
}

@media (min-width: $desktop-width) {
  .review__field-group--radiobuttons {
    width: 1200px;
    height: 179px;
  }
}
