.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      width: 1200px;
      padding: 0 221px 0 217px;
    }
  }
}

.review__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 51px;
}

@media (min-width: $tablet-width) {
  .review__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .review__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 216px;
    margin-bottom: 63px;
  }
}

.reviews__title {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .reviews__title {
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__title {
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 28px;
  }
}

.textarea-form .textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(#000000, 0.3);
  padding: 18px 13px 12px 15px;
}

@media (min-width: $tablet-width) {
  .textarea-form .textarea {
    margin-bottom: 44px;
    padding: 16px 16px 12px;
  }
}

@media (min-width: $desktop-width) {
  .textarea-form .textarea {
    margin-bottom: 46px;
    padding: 16px 13px 12px 13px;
  }
}

.reviews-button {
  background-color: $accent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.reviews-button:hover {
  background-color: #669ec0;
}

.reviews-button:active {
  background-color: #5496bd;
}

@media (min-width: $tablet-width) {
  .reviews-wrapper {
    width: 648px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .reviews-wrapper {
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 67px;
  }
}

.reviews-border::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 320px;
  background-color: #dbdbdb;
  top: -67px;
  left: -2px;
}

@media (min-width: $tablet-width) {
  .reviews-border::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: -41px;
    left: 1px;
  }
}

@media (min-width: $tablet-width) {
  .reviews-border::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: -41px;
    left: 527px;
  }
}

@media (min-width: $desktop-width) {
  .reviews-border::before {
    width: 281px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #dbdbdb;
    top: -41px;
    left: 119px;
    height: 1px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .reviews-border::after {
    width: 281px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #dbdbdb;
    top: -41px;
    left: 800px;
    height: 1px;
    box-sizing: border-box;
  }
}
