.review__header {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-top: 39px;
  height: 146px;
  padding-bottom: 37px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .description--form {
    margin: 0;
    padding: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: -97px;
      padding-top: 0;
      padding-bottom: 7px;
    }
  }
}

.review__control {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 0 0 17px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }
}
/*
@media (min-width: $desktop-width) {
  .review__control {
    padding-left: 83px;
  }
}*/

.review__list {
  list-style: none;
  margin: 0;
  padding: 0 19px;
}

@media (min-width: $tablet-width) {
  .review__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 576px;
    height: 124px;
    margin: 0 auto;
    padding: 0 3px 00 56px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .review__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 856px;
    height: 124px;
    margin: 0 auto;
    padding: 0 3px 0 17px;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .review__list--radiobuttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 539px;
    height: 124px;
    margin: 0 auto;
    padding: 0 20px 0 0;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .review__list--radiobuttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 856px;
    height: 124px;
    margin: 0 auto;
    padding: 0 3px 0 17px;
    box-sizing: border-box;
  }
}

.review__item {
  padding-bottom: 36px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .review__item {
    margin-bottom: 16px;
    padding: 0;
    height: 31px;

    @media (min-width: $desktop-width) {
      margin-bottom: 16px;
      padding: 0;
      height: 31px;
    }
  }
}

.review__note {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: rgba(#333333, 0.6);
  text-transform: uppercase;
  margin: 0;
  padding: 5px 2px;
}

@media (min-width: $tablet-width) {
  .review__note {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: rgba(51, 51, 51, 0.6);
    text-transform: uppercase;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .review__note {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: rgba(51, 51, 51, 0.6);
    text-transform: uppercase;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 27px;
  }
}

@media (min-width: $tablet-width) {
  .review__header--form {
    margin-bottom: -2px;
    padding-top: 0;
    padding-bottom: 86px;
    width: 484px;
  }
}

@media (min-width: $desktop-width) {
  .review__header--form {
    margin-bottom: -2px;
    padding-top: 0;
    padding-bottom: 0;
    width: 484px;
  }
}

@media (min-width: $tablet-width) {
  .review__title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 27px;
    margin-left: 0;
    padding-top: 44px;
  }
}

@media (min-width: $tablet-width) {
  .review__title--reviews {
    padding-top: 13px;
  }
}

@media (min-width: $tablet-width) {
  .review__title--radiobuttons {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 17px;
    margin-left: 0;
    padding-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .review__title--radiobuttons {
    padding-bottom: 36px;
    margin-left: 0;
    padding-top: 25px;
    padding-right: 8px;
  }
}

@media (min-width: $tablet-width) {
  .review__title--checkboxes {
    padding: 22px 0 14px;
    width: 308px;
  }
}

@media (min-width: $desktop-width) {
  .review__title--checkboxes {
    padding: 36px 0 14px;
    width: 308px;
  }
}

@media (min-width: $tablet-width) {
  .review__title--info {
    margin-left: -21px;
  }
}

@media (min-width: $desktop-width) {
  .review__title--info {
    padding: 43px 76px 25px 50px;
  }
}

@media (min-width: $tablet-width) {
  .review__list--checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 480px;
    height: 124px;
    margin: 0 auto;
    padding: 0 16px 0 17px;
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 918px;
      margin: 0 auto;
      padding: 28px 27px 10px 42px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $tablet-width) {
  .review__item--checkboxes {
    width: 190px;
  }
}

@media (min-width: $desktop-width) {
  .review__item--checkboxes {
    width: 164px;
  }
}

@media (min-width: $desktop-width) {
  .review__item--rocks {
    margin-left: -22px;
  }
}

@media (min-width: $tablet-width) {
  .review__header--form {
    ::before {
      position: absolute;
      right: 35px;
      top: 630px;
      left: -84px;
      height: 1px;
      width: 129px;
      background-color: #dbdbdb;
      content: "";

      @media (min-width: $desktop-width) {
        position: absolute;
        right: 45px;
        top: 627px;
        left: -238px;
        height: 1px;
        width: 281px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .review__header--form ::after {
    position: absolute;
    right: 35px;
    top: 629px;
    left: 444px;
    height: 1px;
    width: 129px;
    background-color: #dbdbdb;
    content: "";

    @media (min-width: $desktop-width) {
      position: absolute;
      right: 35px;
      top: 628px;
      left: 440px;
      height: 1px;
      width: 281px;
      background-color: #dbdbdb;
      content: "";
    }
  }
}

@media (min-width: $tablet-width) {
  .review__title--introduce {
    padding-left: 41px;
    padding-bottom: 25px;
    padding-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .review__title--introduce {
    padding-left: 61px;
    padding-bottom: 24px;
  }
}
