.search {
  width: 320px;
  padding: 65px 20px 49px;
  padding-bottom: 49px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .search {
    width: 768px;
    margin: 0 auto;
    padding: 83px 33px 60px;
  }
}

@media (min-width: $desktop-width) {
  .search {
    width: 1200px;
    box-sizing: border-box;
    padding: 82px 33px 68px;
  }
}

.search__content-title {
  font-family: $title;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-family: $title;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 32px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .search__content-title {
    padding: 0;
    padding-bottom: 32px;
  }
}

.search__content-description {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 34px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 43px;

    br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .search__content-description {
    padding-bottom: 48px;
  }
}
