.site-list {
  font-weight: bold;
  z-index: 11;

  @media (min-width: $tablet-width) {
    width: 726px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    z-index: 12;
    background-color: transparent;
    flex-grow: 1;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1038px;
    margin: 0 auto;
    margin-top: 8px;
    z-index: 12;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding: 17px 92px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $accent;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  list-style: none;
  z-index: 10;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    color: #000000;
    position: relative;
    display: block;
    padding: 68px 10px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: none;
    z-index: 10;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    color: #000000;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: none;
    flex-wrap: wrap;
    z-index: 10;
    background-color: transparent;
    border: none;
  }
}

/*СТИЛИЗАЦИЮ МОБИЛЬНОГО МЕНЮ*/
.site-list__link:hover {
  background-color: rgb(102, 158, 192);
}

.site-list__link:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .site-list__link--active {
    color: #57765f;
    margin-left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--active {
    color: #57765f;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -18px;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link:hover {
    color: rgb(129, 179, 210);
    background: transparent;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link:active {
    color: rgb(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list__photo {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__photo {
    padding-right: 10px;
    padding-left: 20px;
    width: 100px;
    margin-left: 13px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__feedback {
    padding-right: 10px;
    margin-left: 152px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__feedback {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 238px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__academy {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__academy {
    padding-right: 9px;
    padding-left: 10px;
  }
}
