.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 36px 82px 23px;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 5px;
    width: 156px;
    padding-left: 109px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-left: 128px;
    padding-top: 17px;
  }
}

.social__item {
  width: 48px;
  height: 48px;
  margin-right: 0;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    position: relative;
    box-sizing: border-box;
  }
}

.social__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: $accent;
  height: 48px;
  width: 48px;
}

.social__link::after {
  content: "";
  position: absolute;
  height: 48px;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  top: 0;
  width: 48px;
}

.social__link--vkontakte::after {
  background-image: url("../img/vk.svg");
}

.social__link--telegram::after {
  background-image: url("../img/telegram.svg");
}

.social__link--youtube::after {
  background-image: url("../img/youtube.svg");
}

.social__link:hover {
  background-color: rgb(102, 158, 192);
}

.social__link:active {
  background-color: rgb(86, 151, 189);
}

.social__link:active::after {
  opacity: 0.3;
}
