.textarea-form {
  position: relative;
  font-family: inherit;
}

.textarea-form .reviews-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 17px 48px 13px;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-family: inherit;
}

@media (min-width: $tablet-width) {
  .textarea-form .reviews-button {
    padding: 17px 71px 14px 72px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .textarea-form .reviews-button {
    padding: 21px 101px 15px 101px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
  }
}
