.video {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 0 19px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: $tablet-width) {
  .video--wrapper {
    width: 648px;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .video--wrapper {
    width: 800px;
    margin: 0 auto;
    padding-top: 59px;
  }
}

.video__title {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .video__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .video__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 33px;
  }
}

.video__description {
  margin: 0 auto;
  padding: 0 23px 38px 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .video__description {
    width: 445px;
    padding: 0 93px 80px;
    margin: 0 auto 8px;
  }
}

@media (min-width: $desktop-width) {
  .video__description {
    width: 445px;
    margin: 0 auto;
    padding: 0 93px 88px;
  }
}

.video-preview {
  width: 280px;
  margin-bottom: 4px;
  box-sizing: border-box;
  height: 177px;
}

@media (min-width: $tablet-width) {
  .video-preview {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .video-preview {
    width: 800px;
    margin-bottom: 65px;
  }
}

.video-button {
  position: absolute;
  background-image: url("../img/video-button-mobile.svg");
  width: 48px;
  height: 54px;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 0;
  display: block;
  left: 136px;
  bottom: 69px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .video-button {
    position: absolute;
    display: block;
    left: 300px;
    bottom: 233px;
    width: 48px;
    height: 54px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .video-button {
    position: absolute;
    display: block;
    left: 376px;
    bottom: 293px;
  }
}

.button-video {
  border: none;
}
